.title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.tableHistory {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;   
}

.table {
    width: auto;
    border-collapse: collapse;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}

.td, .th {
    border: 1px solid #a3c5d3;
    padding: 10px;
}

.table th:nth-child(1),
.table td:nth-child(1),
.table th:nth-child(3),
.table td:nth-child(3) {
  /* Стилі для стовпців 1, 2, 5 та 6 */
  width: auto; /* Ширина встановлюється автоматично згідно з контентом */
}

.table th:nth-child(2),
.table td:nth-child(2) {
  width: 100px; /* Фіксована ширина для решти стовпців */
}

.table th:nth-child(4),
.table td:nth-child(4) {
  width: 200px; /* Фіксована ширина для решти стовпців */
}

.table th:nth-child(5),
.table td:nth-child(5) {
  width: 100px; /* Фіксована ширина для решти стовпців */
}